.swiper {
  width: 100%;
  height: 300px;
}

.swiper-slide {
  /* background-color: #f3f3f3; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: black;
}

.logo-tecnologias{
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo-tecnologias:hover {
  transform: scale(1.1);
}

.tech-name{
  font-family: var(--fonte-secundaria);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--azul-vibrante);
}