.footer {
  margin: 4rem 6.25rem;
}

.titulo-footer {
  color: var(--azul-vibrante);
  font-family: var(--fonte-secundaria);
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 32px;
}

.background {
  position: absolute;
  overflow: hidden;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: -69px;
  width: 100%;
  height: 480px;
}

svg {
  position: absolute;
  bottom: 0;
  max-height: 520px;
  min-height: 400px;
  transform: scaleY(3) scaleX(2.25);
  transform-origin: bottom;
  pointer-events: none;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials {
  gap: 10px;
}

.socials a {
  font-size: 24px;
  background: rgb(255 255 255 / 6%);
  backdrop-filter: blur(10px);
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #111 !important;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.socials a:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #ffc61a;
  transform: scale(1.1);
}

.links {
  gap: 14px;
}

.links a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.links a:hover {
  color: #444141;
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.legal {
  font-size: 12px;
  margin: 0;
  color: #000000;
}

footer {
  position: relative;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  padding-bottom: 100px;
  margin-top: 10rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
